li{
    list-style: none;
}

button {
    outline: none;
    box-shadow: none;
    border: none;
  }
  
  button:focus {
    outline: none;
    border: none;
  }

  button:active {
    outline: none;
    border: none;
  }
  